build
README.md
binaries/board_A.uf2
binaries/board_B.uf2
case/bottom.stl
case/deskhop_case.f3d
case/deskhop_case.step
case/top.stl
img/border_top_s.png
img/case_and_board_s.png
img/case_and_board.png
img/demo-typing.gif
img/deskhop-case.gif
img/deskhop-demo.gif
img/deskhop-scr.png
img/impedance-calculation.png
img/pcb_render_s.png
img/pcb_render.png
img/plocica2.png
img/polling_rate.png
img/screensaver.gif
img/yt-video-s.jpg
pcb/v1.0/DeskHop.kicad_pcb
pcb/v1.0/DeskHop.kicad_prl
pcb/v1.0/DeskHop.kicad_pro
pcb/v1.0/DeskHop.kicad_sch
pcb/v1.0/Gerber/DeskHop-B_Cu.gbr
pcb/v1.0/Gerber/DeskHop-B_Mask.gbr
pcb/v1.0/Gerber/DeskHop-B_Paste.gbr
pcb/v1.0/Gerber/DeskHop-B_Silkscreen.gbr
pcb/v1.0/Gerber/DeskHop-Edge_Cuts.gbr
pcb/v1.0/Gerber/DeskHop-F_Cu.gbr
pcb/v1.0/Gerber/DeskHop-F_Mask.gbr
pcb/v1.0/Gerber/DeskHop-F_Paste.gbr
pcb/v1.0/Gerber/DeskHop-F_Silkscreen.gbr
pcb/v1.0/Gerber/DeskHop-job.gbrjob
pcb/v1.0/Gerber/DeskHop-NPTH.drl
pcb/v1.0/Gerber/DeskHop-PTH.drl
pcb/v1.1/DeskHop_Rev1.kicad_pcb
pcb/v1.1/DeskHop_Rev1.kicad_pro
pcb/v1.1/DeskHop_Rev1.kicad_sch
pcb/v1.1/Gerber_DeskHop.zip
pcb/v1.1/Gerber/DeskHop_Rev1-B_Cu.gbr
pcb/v1.1/Gerber/DeskHop_Rev1-B_Mask.gbr
pcb/v1.1/Gerber/DeskHop_Rev1-B_Silkscreen.gbr
pcb/v1.1/Gerber/DeskHop_Rev1-Edge_Cuts.gbr
pcb/v1.1/Gerber/DeskHop_Rev1-F_Cu.gbr
pcb/v1.1/Gerber/DeskHop_Rev1-F_Mask.gbr
pcb/v1.1/Gerber/DeskHop_Rev1-F_Paste.gbr
pcb/v1.1/Gerber/DeskHop_Rev1-F_Silkscreen.gbr
pcb/v1.1/Gerber/DeskHop_Rev1-job.gbrjob
pcb/v1.1/Gerber/DeskHop_Rev1-NPTH.drl
pcb/v1.1/Gerber/DeskHop_Rev1-PTH.drl
schematics/DeskHop_v1.0.pdf
schematics/DeskHop_v1.1.pdf
